.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #57a5d8, #e26253);
    color: #fff;
    border-radius: 10px;
    font-family: poppins;
    margin-top: 15px;
  }
  
  h1 {
    color: #2c3e50;
  }
  
  ul {
    list-style-type: square;
    padding: 0;
    color: #163c63;
    font-weight: 550;
  }
  
  li {
    margin-bottom: 10px;
    
  }
  
  .header {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 10px;
    background-color: #ecf0f1;
  }